<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edumint - Edumint LMS &amp; Online Courses Html Template</title>
    <link rel="icon" href="/demo/react/edumint/assets/img/favicon.png" sizes="20x20" type="image/png" />
    <link rel="stylesheet" href="./assets/css/vendor.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1075.0" data-gr-ext-installed="">
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
      <form action="index.html" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search....." />
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
      <nav class="navbar navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
          <div class="responsive-mobile-menu">
            <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-left"></span><span class="icon-right"></span>
            </button>
          </div>
          <div class="logo">
            <a href="/"><img src="./assets/img/limitlesswhite.png" alt="img" /></a>
          </div>
          <div class="nav-right-part nav-right-part-mobile">
            <a class="signin-btn" href="signin.html">Sign In</a><a class="btn btn-base" href="blog.html">Sign Up</a>
          </div>
          <div class="collapse navbar-collapse go-top" id="edumint_main_menu">
            <ul class="navbar-nav menu-open">
              <li class="current-menu-item">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="blog.html">News</a>
              </li>
              <li>
                <a href="course.html">Course</a>
              </li>
              <li>
                <a href="translation.html">Translation</a>
              </li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="nav-right-part nav-right-part-desktop position-relative">
            <button class="profile">
              <span>John</span>
              <img
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                alt="Profile"
              />
            </button>
            <ul class="dropdown">
              <li><a href="cabinet-teacher.html"> Profil </a></li>
              <li><a href="cabinet-courses-teacher.html">Satdigim kurslar</a></li>
              <li><a href="#">Çıxış</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar end -->

    <div class="main-blog-area pd-top-120 pd-bottom-120" style="padding-top: 150px">
      <div class="container">
        <div class="team-details-page">
          <div class="row">
            <div class="col-lg-3">
              <div class="sidebar">
                <div class="thumb position-relative">
                  <label for="image">
                    <img
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                      alt="img"
                    />
                    <div class="overlay"><i class="fa-regular fa-pen-to-square"></i></div>
                    <input type="file" id="image" />
                  </label>
                  <h4 style="text-align: center; margin-top: 30px">Jane Mileston</h4>
                </div>
                <div>
                  <ul class="nav">
                    <li><a href="cabinet.html">Profil</a></li>
                    <li><a href="cabinet-courses.html" class="active">Satdığı kurslar</a></li>
                    <li><a href="#">Çıxış</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-9 align-self-center mt-5 mt-lg-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-course-inner">
                    <div class="thumb">
                      <img src="assets/img/course/1.png" alt="img" />
                    </div>
                    <div class="details">
                      <div class="details-inner">
                        <div class="emt-user">
                          <span class="u-thumb"><img src="assets/img/author/1.png" alt="img" /></span>
                          <span class="align-self-center">Nancy Reyes</span>
                        </div>
                        <h6><a href="course-details.html">Fox nymphs grab quick-jived waltz. Brick quiz whangs</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-course-inner">
                    <div class="thumb">
                      <img src="assets/img/course/2.png" alt="img" />
                    </div>
                    <div class="details">
                      <div class="details-inner">
                        <div class="emt-user">
                          <span class="u-thumb"><img src="assets/img/author/2.png" alt="img" /></span>
                          <span class="align-self-center">Joe Powell</span>
                        </div>
                        <h6><a href="course-details.html">Aenean sed nibh a magna posuere tempo faucib</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-course-inner">
                    <div class="thumb">
                      <img src="assets/img/course/3.png" alt="img" />
                    </div>
                    <div class="details">
                      <div class="details-inner">
                        <div class="emt-user">
                          <span class="u-thumb"><img src="assets/img/author/3.png" alt="img" /></span>
                          <span class="align-self-center">Timothy Willis</span>
                        </div>
                        <h6><a href="course-details.html">Praesent eu dolor eu orci vehicula euismod</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_contact">
                <h4 class="widget-title">Contact Us</h4>
                <ul class="details">
                  <li><i class="fa fa-map-marker"></i> 420 Love Sreet 133/2 Street NewYork</li>
                  <li><i class="fa fa-envelope"></i> info.contact@gmail.com</li>
                  <li><i class="fa fa-phone"></i> 012 345 678 9101</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_nav_menu">
                <h4 class="widget-title">Course</h4>
                <ul>
                  <li><a href="course.html">Branding design</a></li>
                  <li><a href="course.html">Ui/Ux designing </a></li>
                  <li><a href="course.html">Make Elements</a></li>
                  <li><a href="course.html">Business</a></li>
                  <li><a href="course.html">Graphics design</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_blog_list">
                <h4 class="widget-title">News & Blog</h4>
                <ul>
                  <li>
                    <h6><a href="blog-details.html">Big Ideas Of Business Branding Info.</a></h6>
                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                  </li>
                  <li>
                    <h6><a href="blog-details.html">Ui/Ux Ideas Of Business Branding Info.</a></h6>
                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="widget widget_contact">
                <h4 class="widget-title">Twitter Feed</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <a href="#">https//tweets/c3l.com</a>
                    <div class="time">9 Hours ago</div>
                  </li>
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <a href="#">https//tweets/c7l.com</a>
                    <div class="time">9 Hours ago</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
              <a href="index.html"><img src="assets/img/footer-logo.png" alt="img" /></a>
            </div>
            <div class="col-lg-4 col-md-6 order-lg-12 text-md-right align-self-center">
              <ul class="social-media mt-md-0 mt-3">
                <li>
                  <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3">
              <p>copyright 2022 by solverwp.com</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/vendor.js"></script>
    <script async="" src="/assets/js/main.js"></script>
  </body>
</html>
