<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edumint - Edumint LMS &amp; Online Courses Html Template</title>
    <link rel="icon" href="/demo/react/edumint/assets/img/favicon.png" sizes="20x20" type="image/png" />
    <link rel="stylesheet" href="./assets/css/vendor.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1075.0" data-gr-ext-installed="">
    <div class="body-overlay" id="body-overlay"></div>
    <div id="edumint">
      <div>
        <div>
          <div class="navbar-area">
            <nav class="navbar navbar-area-1 navbar-area navbar-expand-lg">
              <div class="container nav-container">
                <div class="responsive-mobile-menu">
                  <button
                    class="menu toggle-btn d-block d-lg-none"
                    data-target="#edumint_main_menu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="icon-left"></span><span class="icon-right"></span>
                  </button>
                </div>
                <div class="logo">
                  <a href="/"><img src="./assets/img/limitlesswhite.png" alt="img" /></a>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                  <a class="signin-btn" href="signin.html">Sign In</a><a class="btn btn-base" href="blog.html">Sign Up</a
                  ><a class="search-bar" href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="collapse navbar-collapse go-top" id="edumint_main_menu">
                  <ul class="navbar-nav menu-open">
                    <li class="current-menu-item">
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="blog.html">News</a>
                    </li>
                    <li>
                      <a href="course.html">Course</a>
                    </li>
                    <li>
                      <a href="translation.html">Translation</a>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                  <a class="signin-btn" href="signin.html">Sign In</a><a class="btn btn-base" href="signup.html">Sign Up</a>
                </div>
                <div class="nav-right-part nav-right-part-desktop position-relative">
                  <button class="profile">
                    <span>Jane</span>
                    <img
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                      alt="Profile"
                    />
                  </button>
                  <ul class="dropdown">
                    <li><a href="cabinet.html"> Profil </a></li>
                    <li><a href="cabinet-courses.html">Kurslar</a></li>
                    <li><a href="#">Əlaqə</a></li>
                    <li><a href="#">Çıxış</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="banner-area banner-area-1 bg-gray go-top">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 order-lg-12 align-self-center">
                  <div class="thumb b-animate-thumb"><img src="https://solverwp.com/demo/react/edumint/assets/img/banner/1.png" alt="img" /></div>
                </div>
                <div class="col-lg-7 order-lg-1 align-self-center">
                  <div class="banner-inner text-center text-lg-left mt-5 mt-lg-0">
                    <h6 class="b-animate-1 sub-title">DISCOVER RESEARCH</h6>
                    <h1 class="b-animate-2 title">A better learning future starts here</h1>
                    <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="#/contact">Get A Quote</a
                    ><a class="btn btn-border-black b-animate-3" href="#/blog-details">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="about-area pd-top-140">
            <div class="container">
              <div class="about-area-inner">
                <div class="row mb-5 justify-content-center text-center items">
                  <div class="col-12 col-md-12 align-self-center text-center text-md-left">
                    <div
                      class="row items filter-items-1 shuffle"
                      style="position: relative; overflow: hidden; transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s"
                    >
                      <div
                        class="col-12 col-md-6 col-lg-4 item filter-item-1 shuffle-item shuffle-item--visible"
                        style="position: relative; height: 100%"
                      >
                        <div class="row p-0 text-center">
                          <img
                            src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Lorem ipsum"
                          />
                        </div>
                        <div class="play-icon">
                          <i class="far fa-play-circle"></i>
                        </div>
                      </div>
                      <div
                        class="col-12 col-md-6 col-lg-4 item filter-item-1 shuffle-item shuffle-item--visible"
                        style="position: relative; height: 100%"
                      >
                        <div class="row p-0 text-center">
                          <img
                            src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Lorem ipsum"
                          />
                        </div>
                        <div class="play-icon">
                          <i class="far fa-play-circle"></i>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 item filter-item-1 shuffle-item shuffle-item--visible" style="position: relative">
                        <div class="chose-wrapper pl-25 pl-lg-0 pl-md-0 pl-xs-0">
                          <div
                            class="section-title mb-30 wow fadeInUp2 animated"
                            data-wow-delay=".1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp2"
                          >
                            <h5 class="bottom-line mb-25">Explore us</h5>
                            <h2 class="mb-25">Why us?</h2>
                            <p>
                              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                              There are many variations of passages of Lorem Ipsum available.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer-area bg-gray">
            <div class="footer-top">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="widget widget_contact">
                      <h4 class="widget-title">Contact Us</h4>
                      <ul class="details">
                        <li><i class="fa fa-map-marker"></i> 420 Love Sreet 133/2 Street NewYork</li>
                        <li><i class="fa fa-envelope"></i> info.contact@gmail.com</li>
                        <li><i class="fa fa-phone"></i> 012 345 678 9101</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="widget widget_nav_menu">
                      <h4 class="widget-title">Course</h4>
                      <ul class="go-top">
                        <li><a href="#/blog">Branding design</a></li>
                        <li><a href="#/blog">Ui/Ux designing </a></li>
                        <li><a href="#/blog">Make Elements</a></li>
                        <li><a href="#/blog">Business</a></li>
                        <li><a href="#/blog">Graphics design</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 go-top">
                    <div class="widget widget_blog_list">
                      <h4 class="widget-title">News &amp; Blog</h4>
                      <ul>
                        <li>
                          <h6><a href="#/blog-details">Big Ideas Of Business Branding Info.</a></h6>
                          <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                        </li>
                        <li>
                          <h6><a href="#/blog-details">Ui/Ux Ideas Of Business Branding Info.</a></h6>
                          <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="widget widget_contact">
                      <h4 class="widget-title">Twitter Feed</h4>
                      <ul class="details">
                        <li>
                          <i class="fa fa-twitter"></i>Simply dummy brand <a href="#">https//tweets/c3l.com</a>
                          <div class="time">9 Hours ago</div>
                        </li>
                        <li>
                          <i class="fa fa-twitter"></i>Simply dummy brand <a href="#">https//tweets/c7l.com</a>
                          <div class="time">9 Hours ago</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6 align-self-center">
                    <a href="index.html"><img src="/demo/react/edumint/assets/img/footer-logo.png" alt="img" /></a>
                  </div>
                  <div class="col-lg-4 col-md-6 order-lg-12 text-md-right align-self-center">
                    <ul class="social-media mt-md-0 mt-3">
                      <li>
                        <a class="facebook" href="https://www.facebook.com/solverwp/"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a class="twitter" href="https://www.twitter.com/solverwp"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a class="instagram" href="https://www.youtube.com/solverwp/"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li>
                        <a class="youtube" href="https://www.youtube.com/solverwp/"><i class="fa fa-youtube"></i></a>
                      </li>
                      <li>
                        <a class="pinterest" href="https://www.pinterest.com/solverwp/"><i class="fa fa-pinterest"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3"><p>copyright 2021 by edumint.com</p></div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="back-to-top" style="display: none">
      <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <script src="/demo/react/edumint/assets/js/vendor.js"></script>
    <script>
      !(function (e) {
        function t(t) {
          for (var n, i, l = t[0], a = t[1], f = t[2], c = 0, s = []; c < l.length; c++)
            (i = l[c]), Object.prototype.hasOwnProperty.call(o, i) && o[i] && s.push(o[i][0]), (o[i] = 0);
          for (n in a) Object.prototype.hasOwnProperty.call(a, n) && (e[n] = a[n]);
          for (p && p(t); s.length; ) s.shift()();
          return u.push.apply(u, f || []), r();
        }
        function r() {
          for (var e, t = 0; t < u.length; t++) {
            for (var r = u[t], n = !0, l = 1; l < r.length; l++) {
              var a = r[l];
              0 !== o[a] && (n = !1);
            }
            n && (u.splice(t--, 1), (e = i((i.s = r[0]))));
          }
          return e;
        }
        var n = {},
          o = { 1: 0 },
          u = [];
        function i(t) {
          if (n[t]) return n[t].exports;
          var r = (n[t] = { i: t, l: !1, exports: {} });
          return e[t].call(r.exports, r, r.exports, i), (r.l = !0), r.exports;
        }
        (i.m = e),
          (i.c = n),
          (i.d = function (e, t, r) {
            i.o(e, t) || Object.defineProperty(e, t, { enumerable: !0, get: r });
          }),
          (i.r = function (e) {
            "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }),
              Object.defineProperty(e, "__esModule", { value: !0 });
          }),
          (i.t = function (e, t) {
            if ((1 & t && (e = i(e)), 8 & t)) return e;
            if (4 & t && "object" == typeof e && e && e.__esModule) return e;
            var r = Object.create(null);
            if ((i.r(r), Object.defineProperty(r, "default", { enumerable: !0, value: e }), 2 & t && "string" != typeof e))
              for (var n in e)
                i.d(
                  r,
                  n,
                  function (t) {
                    return e[t];
                  }.bind(null, n)
                );
            return r;
          }),
          (i.n = function (e) {
            var t =
              e && e.__esModule
                ? function () {
                    return e.default;
                  }
                : function () {
                    return e;
                  };
            return i.d(t, "a", t), t;
          }),
          (i.o = function (e, t) {
            return Object.prototype.hasOwnProperty.call(e, t);
          }),
          (i.p = "/demo/react/edumint/");
        var l = (this.webpackJsonpedumint = this.webpackJsonpedumint || []),
          a = l.push.bind(l);
        (l.push = t), (l = l.slice());
        for (var f = 0; f < l.length; f++) t(l[f]);
        var p = a;
        r();
      })([]);
    </script>
    <script src="/assets/js/vendor.js"></script>
    <script async="" src="/assets/js/main.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
      integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
